# Gradle

.gradle/
build/
out/
classes/

# Eclipse

*.launch

# IDEA

.idea/
*.iml
*.ipr
*.iws

# VSCode

.settings/
.vscode/
bin/
.classpath
.project

# MacOS

*.DS_Store

# Forge

run/
runServer/

# Python scripts

create_block_models.py
create_blockstates.py
create_item_models.py
create_recipes.py